<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}CodeFarm{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/bootstrap.min.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/font-awesome.min.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/ace-fonts.min.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/ace.min.css") }}">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset("bundles/ace/js/jquery.min.js") }}"></script>
            <script src="{{ asset("bundles/ace/js/bootstrap.min.js") }}"></script>
            <script src="{{ asset("bundles/ace/js/ace.min.js") }}"></script>
            <script src="{{ asset("ace/assets/js/ace/ace.sidebar.js") }}"></script>
        {% endblock %}
    </head>
    <body class="no-skin">
        <div id="navbar" class="navbar navbar-default ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="fa fa-home"></i>
                            CodeFarm
                        </small>
                    </a>
                </div>
                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <span class="user-info">
                                        <small>Welkom,</small>
                                        {{ app.user.username }}
                                    </span>
                                <i class="ace-icon fa fa-caret-down"></i>
                            </a>
                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-user"></i>
                                        Profiel
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <i class="ace-icon fa fa-asterisk"></i>
                                        Wachtwoord
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Uitloggen
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-container ace-save-state" id="main-container">
            <div id="sidebar" class="sidebar responsive ace-save-state">
                <ul class="nav nav-list">
                    <li class="">
                        <a href="index.html">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text"> Dashboard </span>
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </div>
            <div class="main-content">
                <div class="main-content-inner">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-xs-12">
                                {% block content %}
                                    <div class="alert alert-danger">
                                        Daar ging iets fout... neem contact op met uw docent als deze fout blijft voorkomen!
                                    </div>
                                    {% if app.debug %}
                                        <div class="alert alert-info">
                                            <b>Ontwikkelaars details:</b><br>
                                            Je bent vergeten een body te definieeren voor je view.<br>
                                            <h1>Idioot.</h1>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>