<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Inloggen{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/bootstrap.min.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/font-awesome.min.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/ace-fonts.min.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/ace/css/ace.min.css") }}">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset("bundles/ace/js/jquery.min.js") }}"></script>
            <script src="{{ asset("bundles/ace/js/ace.min.js") }}"></script>
            <script src="{{ asset("ace/assets/js/ace/ace.sidebar.js") }}"></script>
        {% endblock %}
    </head>
    <body class="login-layout">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1 style="color: white;">
                                    <i class="ace-icon fa fa-home"></i>
                                    CodeFarm
                                </h1>
                            </div>

                            <div class="space-6"></div>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                <center>Inloggen</center>
                                            </h4>

                                            <div class="space-6"></div>

                                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                                <fieldset>
                                                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" name="_username" placeholder="Gebruikersnaam" />
															<i class="ace-icon fa fa-user"></i>
														</span>
                                                    </label>

                                                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" name="_password" placeholder="Wachtwoord" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                                    </label>

                                                    <div class="space"></div>

                                                    <div class="clearfix">
                                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                            <i class="ace-icon fa fa-key"></i>
                                                            <span class="bigger-110">Inloggen</span>
                                                        </button>
                                                    </div>

                                                    <div class="space-4"></div>
                                                </fieldset>
                                            </form>
                                        </div><!-- /.widget-main -->
                                    </div><!-- /.widget-body -->
                                </div><!-- /.login-box -->
                            </div><!-- /.position-relative -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container -->
    </body>
</html>